.span1 {
    color:red;
}
.span2 {
    color:blue;
}
.span3 {
    background-color:beige;
}
.span4 {
    font-size:150%;
}
.SameExample {
    color:brown;
}
#IDExample {
    background-color:aliceblue;
}